<% if policy(Blog).new? %>
    <br>
    <h3 class="text-center"><%= link_to 'Create a new blog post', new_blog_path %></h3>
    <br>
    <hr>
<% end %>
<div class="mx-3">
<% @blogs.each do |post| %>
    <h2><%= link_to post.title, blog_path(post) %></h2>
    <h3>By <%= post.author %></h3>
    <div class="d-flex flex-wrap">
        <% if post.cover.attached? %>
            <p><%= cl_image_tag post.cover.key, crop: :scale, width: 300, cloud_name: "rafaelmellocloud" %></p>
        <% end %>
        <p><%= post.post %></p>
    </div>
    <hr>          
<% end %>
</div>
