<h2><%= @blog.title %></h2>
<h3><%= @blog.author%></h3>
<% if @blog.cover.attached? %>
    <p><%= cl_image_tag @blog.cover.key, crop: :scale, width: 500, cloud_name: "rafaelmellocloud" %></p>
<% end %>
<p><%= @blog.post %></p>

<%= link_to "<< Back", :back %> 
<%= link_to "Edit", edit_blog_path(@blog) %>
<%= link_to "Delete", @blog, method: :delete, data: { confirm: "Are you sure?" } %>
