<% @orders.each do |order|%>
    <% order.shoe_orders.each do |shoe_order| %>
        <p>Order number: <%= shoe_order.order.id %></p>
        <p>Date: <%= shoe_order.order.created_at %></p>
        <p>Item name: <%= shoe_order.shoe.name %></p>
        <p>Item brand name: <%= shoe_order.shoe.brand %></p>
        <p>Please contact seller to organize delivery: <%= shoe_order.shoe.user.email %></p>
    <hr>
    <% end %>
<% end %>