<% @shoes.each do |shoe| %>
    <% shoe.shoe_order.each do |shoe_order| %>
        <p>SOLD</p>
        <p>Order number: <%= shoe_order.order.id %></p>
        <p>Date: <%= shoe_order.order.created_at %></p>
        <p>Item name: <%= shoe_order.shoe.name %></p>
        <p>Item brand name: <%= shoe_order.shoe.brand %></p>
        <p>Please contact buyer to organize delivery: <%= shoe_order.order.user.email %></p>
        <hr>
    <%end %>
<% end %>
