<h1>Show page</h1>

<h2><%= @shoe.name %></h2>

<% if @shoe.photo.attached? %>
    <p><%= cl_image_tag @shoe.photo.key, crop: :scale, width: 500, cloud_name: "rafaelmellocloud" %></p>
<% end %>

<p><%= @shoe.description %></p>

<h4>AUD$ <%= @shoe.price.to_i %></h4>

<p><%= @shoe.categories_to_csv %></p>

<% if @cart.include?(@shoe) %>
  <%= button_to "Remove from cart", remove_from_cart_path(@shoe), method: :delete %>
<% else %>
  <%= button_to "Add to cart", add_to_cart_path(@shoe) %>
<% end %>

<% if @shoe.user_id == current_user.id %>
  <p><%= link_to "Edit", edit_shoe_path(params[:id]) %></p>
  <p><%= link_to "Delete", @shoe, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<p><%= link_to "<< Back to menu", root_path %></p>

